#comment-form {
    width: 550px
}
.line {
    padding: 10px;
}
#comment-form label {
    display: inline-block;
    min-width: 200px;
    vertical-align: top;
}
#owner-name,
#comment-text {
    width: 300px;
}