/* © 2012 Artem Sapegin http://sapegin.me */

/* Global reset */
* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display:block; }
sup, sub, small, code { line-height:0; }
a img { display:block; }
a img, a.img { border:none !important; background-image:none !important; }
abbr { border-bottom:none; }
ul { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }

body {
	font-family:Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	padding:0 20px;
	background:#fffef6;
	color:#111;
	font-size:16px;
	}

.wrapper {
	margin:0 auto;
	max-width:1000px;
	}

.wrapper a,
.wrapper a:link,
.wrapper a:visited {
	color:#428ad3;
	}
.wrapper a:hover,
.wrapper a:active,
.wrapper a:focus {
	color:#f78520;
	}

.amp {
	font-style:italic;
	}


/* Header */
.fotorama-header {
	margin-left:-12px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	}

.header {
	margin-bottom:1em;
	text-align:center;
	}

.logo {
	font-size:64px;
	font-weight:normal;
	text-transform:uppercase;
	letter-spacing:.2ex;
	}


/* Posts */
.post {
	margin-bottom:2em;
	}
	.post:after {
		content:"#";
		display:block;
		margin-top:-.25em;
		text-align:center;
		font-size:38px;
		line-height:1;
		}
	.post__title {
		margin-bottom:.5em;
		text-align:center;
		font-size:28px;
		font-weight:normal;
		text-transform:uppercase;
		letter-spacing:.2ex;
		}
	.post p {
		margin-bottom:1em;
		line-height:1.6;
		font-size:19px;
		}
	.post .fotorama {
		margin-bottom:22px;
		}
.post-pubdate {
	display:block;
	margin-bottom:.15em;
	font-size:16px;
	font-style:italic;
	}
.post-tags li {
	display:inline;
	}
	.post-tags li:after {
		content:", ";
		}
	.post-tags li:last-child:after {
		display:none;
		}

.credit {
	position:relative;
	margin-top:-60px;
	margin-bottom:60px;
	margin-right:3px;
	text-align:right;
	font-size:13px;
	line-height:19px;
	color:#fff;
	color:hsla(0,0%,100%,.8);
	text-shadow:0 0 2px #000;
	}
	.credit a,
	.credit a:link,
	.credit a:visited {
		color:#fff;
		color:hsla(0,0%,100%,.8);
		}
	.credit a:hover,
	.credit a:active,
	.credit a:focus {
		color:#fff;
		}


/* Download button */
#download {
	margin-bottom:1em;
	text-align:center;
	}
	#download a {
		display:inline-block;
		font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:14px;
		}


@media (max-width:1000px) {
	.logo {
		font-size:48px;
		}
	.post__title {
		font-size:22px;
		}
	.post p {
		font-size:16px;
		}
}
@media (max-width:700px) {
	.logo {
		font-size:32px;
		}
	.post__title {
		font-size:22px;
		}
	.post p {
		font-size:15px;
		}
	.post-pubdate,
	.post-tags li {
		font-size:15px;
		}
}
@media (max-width:500px) {
	.logo {
		font-size:28px;
		}
	.post__title {
		font-size:19px;
		}
	.post p {
		font-size:13px;
		}
	.post-pubdate,
	.post-tags li {
		font-size:13px;
		}
}
